.pokeStyle {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0.5rem;
    row-gap: 1rem;
    justify-self: center;
}

.ballUp {
    height: 100px;
    width: 150px;
    background: red;
    border: 1px solid black;
    border-radius: 100px 100px 0px 0px;
    text-align: center;
    padding-top: 10px;
  }
  
  .ballDown {
    text-align: center;
    height: 100px;
    width: 150px;
    background: white;
    border: 1px solid black;
    border-radius: 0px 0px 100px 100px;
    text-align: center;
    color: black;
    padding-top: 0.5em;
}

.ballDown p {
    font-size: 20px;
}